{% extends 'demo/base.html' %}

{% block content %}

    <div class="container">
      <h2 style="color:blue;">Please Login: </h2>
      <form class="form-horizontal" action="{% url 'user_login' %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <div class="row">
             <div class="col-md-offset-4 col-md-4">
                  <div class="input-group input-group-icon">
                      <input type="text" name="username" placeholder="User Name" required/>
                      <div class="input-icon"><i class="fa fa-user"></i></div>
                  </div>
                  <div class="input-group input-group-icon">
                      <input type="password" name="password" placeholder="Password" required/>
                      <div class="input-icon"><i class="fa fa-key"></i></div>
                  </div>
                  <input type="submit" class="btn btn-primary formbtn" value="Login">
                  <input type="hidden" name="next" value="{{ next }}" />
             </div>
          </div>

      </form>
  </div>

{% endblock %}
