.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.example2 .navbar-brand>img {
    padding: 7px 15px;
}
nav{
    background-color: #089de3;
}
.wordSearchSection{
    padding: 50px 0px 20px 0px;
}
.searchResultSection{
    padding: 0px 50px 20px 50px;
}
.btnSearch{
    background-color: #089de3;
}
