<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Online Dictionary</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dictionary.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container example2">
                    <!--<a href="#!" class="brand-logo">Magraj</a>-->
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="Magraj Dictionary"></a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="/">Online Dictionary</a></li>
                    <li><a href="/">Test1</a></li>
                    <li><a href="/">Test2</a></li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
