{% extends "demo/base.html" %}
{% block content %}

<div class="container">
    <div class="wordSearchSection">
        <form class="col s12" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s8">
                    <input type="text" name="word" placeholder="Enter your word.." required/>
                </div>
                <div class="input-field col s4">
                    <input class="btn btn-primary btnSearch" type="submit" value="Search">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="contanier">
    <div class="searchResultSection">
        {% if c %}
        <ul>
        {% for i in c %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>
        {% elif d %}
        <h2>Did you mean <strong style="color:blue;">{{ d }}</strong> instead?Please Double Check.</h2>
        {% else %}
            {% for i in e %}
                <h2 style="color:red;">{{ i }}</h2>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
