{% extends "demo/base.html" %}

{% block content %}

<div class="container">
  {% if registered %}
  <h1>Thank You</h1>
  {% else %}
  <h1 style="color:blue;">Register Here</h1>
  <form class="form-horizontal" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
      <div class="row">
         <div class="col-md-offset-4 col-md-4">
              <div class="input-group input-group-icon">
                  <input type="text" name="username" placeholder="User Name" required/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>
              <div class="input-group input-group-icon">
                  <input type="text" name="first_name" placeholder="First Name" required/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>
              <div class="input-group input-group-icon">
                  <input type="text" name="last_name" placeholder="Last Name" required/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>
              <div class="input-group input-group-icon">
                  <input type="email" name="email" placeholder="Email Address" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required/>
                  <div class="input-icon"><i class="fa fa-envelope"></i></div>
              </div>
              <div class="input-group input-group-icon">
                  <input type="password" name="password" placeholder="Password" required/>
                  <div class="input-icon"><i class="fa fa-key"></i></div>
              </div>
              <div class="input-group input-group-icon">
                  <input type="password" name="conpass" placeholder="Confirm Password" required/>
                  <div class="input-icon"><i class="fa fa-key"></i></div>
              </div>

              <input type="submit" class="btn btn-primary formbtn" value="Submit">
         </div>
      </div>
  </form>
  {% endif %}
</div>

{% endblock %}
